@use 'sass:color';
@import '../../../styles.scss';
@mixin flex($direction,$gap){
    display: flex;
    flex-direction: $direction;
    gap:$gap;
}

h3{
    margin: 0;
    padding: 0;
}

a{
    display: block;
    text-decoration: none;
}
.hash{
    color: $bright_voilet;
}

    .status.pending{
         background-color: color.adjust($pending,$lightness:45%) ;
       }
        .status.paid{
         background-color: color.adjust($paid,$lightness:45%) ;
       }
       .status.draft{
        background-color: color.adjust($draft,$lightness:70%) ;
       }
         .dot.pending{
         background-color: $pending ;
       }
        .dot.paid{
         background-color: $paid;
       }
       .dot.draft{
        background-color: $draft;
       }
          .h32.pending{
         color: $pending ;
       }
        .h32.paid{
         color: $paid;
       }
       .h32.draft{
        color: $draft;
       }
    
    

.data-wrapper{
    width: min(10rem,inherit);
    text-decoration: none;
@include flex(row,40px);
cursor: pointer;
justify-content: space-between;
padding-left: 2rem;
padding-right: 1.5rem;
align-items: center;
    background-color: var(--inv-bg);
    border-radius: 0.5rem;
    &:hover{
        border: 1px solid $bright_voilet;
    }
    .first{
        @include flex(row,43px);
        align-items:center;
    }
    .second{
        @include flex(row,73px);
        align-items:center;
    }
    .invend{
        @include flex(row,20px);
        justify-content: center;
        align-items: center;
    }
    .status{
        width: 104px;
        height: 40px;
        padding: 12px 1rem;
        border-radius: 6px;
        @include flex(row,0.5rem );
        justify-content: start;
        align-items: center;
        
    .dot{
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
    }
    }
}
 .h32{
        @include h32;
    }
    .h31{
        @include h31;
    }
 .paragraph{
            @include body1;
        }
    @media(max-width:500px){
        .data-wrapper{
       
            flex-direction: column;
            gap: 24px;
            .second{
                flex-direction: column;
                gap: 0.5rem;
            }
        }
    }
     .last{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:40px;
   }
  