@import '../../../styles.scss';
h2{
    margin: 0;
    padding: 0;
}
@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
}
.header{
    margin-top: 72px;
    width:min(60rem,45.6rem);
    align-items: center;
   @include flex($direction:flex);
   justify-content: space-between;
   a{
    text-decoration: none;
   }
   button{
    cursor: pointer;
        &:focus{
            outline: none;
        }
   }
   .title{
    @include flex($direction: column);
   }
   h2{
    @include h1;
   }
   h4{
    margin: 0;
    @include h32;
   }
   p{
    margin: 0;
    @include body1;
   }
   .end{
    @include flex($direction:row);
    gap: 2.5rem;
   }
   .filter{
    background-color: transparent;
    position: relative;
    padding: 0 ;
     @include flex($direction:row);
     align-items: center;
     gap: 1rem;
      cursor: pointer;
     &:hover{
        img{
            transform: rotate(-180deg);
            transition: all 0.2s ease-in-out;
        }
        .filteroptions{
            display: block;
        }
    }
    .filteroptions{
        display: none;
        width: 150%;
        position: absolute;
        top:3rem;
        left:-20px;
        background-color: var(--filter-card);
        color: var(--heading-color);
          padding-top: 24px;
            padding-left: 24px;
            padding-bottom: 24px;
        .option{
            cursor: pointer;
            display: flex;
            gap:13px;
            align-items: center;
            &:hover{
                input[type="checkbox"]{
                     border: 1px solid $bright_voilet;
                }
            }
            &:active{
                input[type="checked"]{
                    background-color: $bright_voilet;
                }
            }
        }
        input[type="checkbox"]{
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            width:1rem;
            height: 1rem;
            background-color: var(--form-outline);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
        }
        input[type="checkbox"]::after{
            content: url("../../../assets/images/icon-check.svg");
        }
        input[type="checkbox"]:checked{
            background-color: $bright_voilet;
        }
    }
   }
   .button{
    border: none;
    // width:150px;
    height: 3rem;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    gap:1rem;
    background-color: $bright_voilet;
    transition: all 0.2s ease-out;
    &:hover{
         background-color: $light_bright_voilet;
         .add{
            fill: $light_bright_voilet;
         }
    }
    .bt-bg{
        width: 2rem;
        height: 2rem;
        background-color: $white;
        display: grid;
        place-content: center;
        border-radius: 50%;
    }
   }
   .add{
    fill:$bright_voilet;
    &:hover{
        fill:$light_bright_voilet
    }
   }
   .newadd{
    color: $white;
   }
}
@media(max-width:950px){
     .header{
    width: 35rem;
    .end{
        gap:30px;
    }
    }
}
@media(max-width: $tablet){
    .header{
    margin-top: 8.5rem;
    // width: 42rem;
    width:90vw;
 
    }
}
@media (max-width: 500px){
     span{
        display: none;
    }
  
    .button{
        align-items: center;
        gap:0.5rem;
    }
    .header{
    margin-top: 6rem;
    // width: min(95%,327px);
    width:90vw;
         span{
        display: none;
         }
    .end{
        gap:0.5rem;
    }
      h2{
        font-size: 1rem;
    }
    }
   
}