/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'spartan';
    src: url('./assets/spartan/Spartan-Black.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'spartan';
    src: url('./assets/spartan/Spartan-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'spartan';
    src: url('./assets/spartan/Spartan-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'spartan';
    src: url('./assets/spartan/Spartan-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family:'spartan';
    src: url('./assets/spartan/Spartan-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'spartan';
    src: url('./assets/spartan/Spartan-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'spartan';
    src: url('./assets/spartan/Spartan-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'spartan';
    src: url('./assets/spartan/Spartan-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'spartan';
    src: url('./assets/spartan/Spartan-Thin.ttf') format('truetype');
    font-weight: 100;
}
$bright_voilet: #7C5DFA;
$light_bright_voilet: #9277FF;
$dark-violet:#888EB0;
$light-dark-violet:#7E88C3;
$delete-bg:#EC5757;
$delete-hover-bg: #FF9797;
$grey: #DFE3FA;
$light-grey:#F8F8FB;
$white: #FFFFFF;
$dark-blue: #141625;
$light-dark-blue: #252945;
$darker-blue: #0C0E16;
$light-darker-blue: #1E2139;
$tablet: 770px;
$mobile: 375px;

$pending: #FF8F00;
$draft: #DFE3FA;
$paid:#33D69F;

@mixin h1{
   font-family: 'spartan',sans-serif;;
    font-weight: bold;
    font-size: 2rem;
    line-height: 36px;
    letter-spacing: -1px;
    color: var(--heading-color);
}
@mixin h2{
    font-family: 'spartan',sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.63px;
    color: var(--heading-color);
}
@mixin h31{
    font-family: 'spartan',sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.8px;
     color: var(--heading-color);
}
@mixin h32{
    font-family: 'spartan',sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: var(--heading-color);
}
@mixin body1{
    font-family: 'spartan',sans-serif;
    font-weight:500 ;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: var(--text-color);
}
@mixin body2{
    font-family: 'spartan',sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.23;
}

*,*::before,*::after{
    box-sizing: border-box;
}
:root{
    --bg: #{$light-grey};
     --heading-color:#{$darker-blue}; 
     --text-color:#{$light-dark-violet};
     --form-outline: #{$grey};
     --inv-bg: #{$white};
     --form-bg: #{$white};
     --filter-card: #{$white};
        --edit-btn-bg: #{$grey};
     --edit-btn-text:#{$light-dark-violet};
}
.dark-theme{
      --bg: #{$dark-blue};
      --heading-color: #{$white} ;
       --text-color: #{$light_bright_voilet};
    --inv-bg: #{$light-darker-blue};
    --form-outline: #{$light-dark-blue};
      --form-bg: #{$light-darker-blue};
    --filter-card:#{$light-dark-blue};
     --edit-btn-bg: #{$light-dark-blue};
     --edit-btn-text:#{$grey};
}
body{
    margin: 0;
    padding: 0;
    font-family: 'spartan',sans-serif;
    background-color:var(--bg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
   
}